/* Work around until the TOC becomes collapsable */

li.toctree-l3 {
  display: none;
}

li.toctree-l4 {
  display: none;
}

a.toctree-l3 {
  display: none;
}

a.toctree-l4 {
  display: none;
}

a.toctree-l5 {
  display: none;
}

a.toctree-l6 {
  display: none;
}
